<!DOCTYPE html>
<html lang="en" class="full-height">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="view/css/bootstrap.min.css">
    <script type="text/javascript" src="view/js/jquery.js"></script>
    <script src="view/js/bootstrap.min.js"></script>
    <link href="view/css/style.css" rel="stylesheet">
    <link href="view/css/addons/datatables.min.css" rel="stylesheet">
    <link href="view/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="view/css/all.css">
    <title>Maizgamer server</title>

</head>
<body>

    <div class="container">
        {% block politicaPrivacidad %}
        {% endblock %}
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 busqueda">
                {% block login %}
                {% endblock %}
                {% block registro %}
                {% endblock %}
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3 contenido">
                {% block contenido %}
                {% endblock %}
            </div>
        </div>
    </div>


<footer class="page-footer font-small blue fixed-bottom mt-5">

    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <span>Alexsandro Ruiz Ribeiro</span>
    </div>

</footer>

<script type="text/javascript" src="view/js/addons/datatables.min.js"></script>
<script type="text/javascript" src="view/js/popper.min.js"></script>
<script type="text/javascript" src="view/js/mdb.js"></script>
<script type="text/javascript" src="view/js/index.js"></script>

</body>
</html>