html,
body,
header,
.view {
  height: 50%;
}

.nav li a {
  font-size: 30px;
  color: black;
}
.nav li a:first-letter {
  font-size: 40px;
  color: #760155;
}

.contenido {
  color: black;
}

#borrar, #modificar, #borrarLocal {
  padding: 10px;
}

#botonesAcciones {
  display: flex;
}

.active-cyan-2 #busqueda[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan #busqueda[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}

.scrollbar-cyan::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-cyan::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-cyan::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285f4; }

.bordered-cyan::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #4285f4; }

.bordered-cyan::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }

.square::-webkit-scrollbar-track {
  border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
  border-radius: 0 !important; }

.example-1 {
  position: relative;
  overflow-y: scroll;
  height: 600px; }

#modalModificar .modalModificarBorder, #modalModificarLocal .modalModificarBorder {
  border-radius: 5px 5px 5px 5px;;
  border: 3px solid #ffbb33 !important;
}

.modalanadirBorder {
  border-radius: 5px 5px 5px 5px;;
  border: 3px solid #4285f4 !important;
}