{% extends "templates/indexLayout.html.twig" %}

{% block login %}

    <!-- Default form login -->
    <form id="login" class="text-center border border-light p-5 mt-5">

        <p class="h4 mb-4">Login</p>

        <!-- Email -->
        <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" required>

        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" required>

        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember">Recordarme</label>
                </div>
            </div>
            <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
            </div>
        </div>

        <!-- Sign in button -->
        <button id="botonLogin" class="btn btn-outline-info btn-block my-4" type="submit">Login</button>

        <!-- Register -->
        <p>¿No tienes cuenta?
            <a id="abrirRegistro">Registrate ahora</a>
        </p>

    </form>
    <!-- Default form login -->

{% endblock %}

{% block registro %}

    <!-- Default form register -->
    <form id="registro" class="text-center border border-light p-5 mt-5">

        <a id="volverLogin" class="mb-1">Volver</a>

        <p class="h4 mb-4">Registro</p>

        <!-- First name -->
        <input type="text" id="defaultRegisterFormFirstName" class="form-control mb-4" placeholder="Nombre" required>

        <!-- E-mail -->
        <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" required>

        <!-- Password -->
        <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" required>
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
        </small>

        <!-- Newsletter -->
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
            <label class="custom-control-label" for="defaultRegisterFormNewsletter">
                "He leído y acepto la <a href="index.php?controller=Usuario&action=vistaPP">Política de Privacidad</a>".
            </label>
        </div>

        <!-- Sign up button -->
        <button id="botonRegistro" class="btn btn-outline-info my-4 btn-block" type="submit">Registrarse</button>

        <hr>

        <!-- Terms of service -->
        <p>By clicking
            <em>Sign up</em> you agree to our
            <a href="" target="_blank">terms of service</a>

    </form>
    <!-- Default form register -->

{% endblock %}