{% extends "templates/indexLayout.html.twig" %}

{% block politicaPrivacidad %}

    <section class="sections mt-5 mb-5" id="section1" xe_section="body_section">
        <h3 xe_section="title3">Política de privacidad</h3>
        <div xe_section="body"><p>A través de este sitio web no se recaban datos de carácter personal de los usuarios sin su conocimiento, ni se ceden a terceros.</p>
            <p>Con la finalidad de ofrecerle el mejor servicio y con el objeto de facilitar el uso, se analizan el número de páginas visitadas, el número de visitas, así como la actividad de los visitantes y su frecuencia de utilización. A estos efectos, la Agencia Española de Protección de Datos (AEPD) utiliza la información estadística elaborada por el Proveedor de Servicios de Internet.</p>
            <p>La AEPD no utiliza cookies para recoger información de los usuarios, ni registra las direcciones IP de acceso. Únicamente se utilizan cookies propias,&nbsp; de sesión, con finalidad técnica (aquellas que permiten al usuario la navegación a través del sitio web y la utilización de las diferentes opciones y servicios que en ella existen).</p>
            <p>El portal del que es titular la AEPD contiene enlaces a sitios web de terceros, cuyas políticas de privacidad son ajenas a la de la AEPD. Al acceder a tales sitios web usted puede decidir si acepta sus políticas de privacidad y de cookies. Con carácter general, si navega por internet usted puede aceptar o rechazar las cookies de terceros desde las opciones de configuración de su navegador.</p>
            <p><b>Información básica sobre protección de datos</b></p>
            <p>A continuación le informamos sobre la política de protección de datos de la Agencia Española de Protección de Datos.</p>
            <p><b>Responsable del tratamiento</b></p>
            <p>Los datos de carácter personal que se pudieran recabar directamente del interesado serán tratados de forma confidencial y quedarán incorporados a la correspondiente actividad de tratamiento titularidad de&nbsp; la Agencia Española de Protección de Datos (AEPD).</p>
            <p>La relación actualizada de las actividades de tratamiento que la AEPD lleva a cabo se encuentra disponible en el siguiente <a href="https://www.aepd.es/agencia/transparencia/registro-actividades-tratamiento/index.html" target="_blank" title="" rel="noopener">enlace al registro de actividades de la AEPD</a>.</p>
            <p><b>Finalidad</b></p>
            <p>La finalidad del tratamiento de los datos corresponde a cada una de las actividades de tratamiento que realiza la AEPD y que están accesibles en el <a href="https://www.aepd.es/agencia/transparencia/registro-actividades-tratamiento/index.html" target="_blank" title="" rel="noopener">registro de actividades </a>de tratamiento.</p>
            <p><b>Legitimación</b></p>
            <p>El tratamiento de sus datos se realiza para el cumplimiento de obligaciones legales por parte de la AEPD, para el cumplimiento de misiones realizada en interés público o en el ejercicio de poderes públicos conferidos a la AEPD, así como cuando la finalidad del tratamiento requiera su consentimiento, que habrá de ser prestado mediante una clara acción afirmativa.</p>
            <p>Puede consultar la base legal para cada una de las actividades de tratamiento que lleva a cabo la AEPD en&nbsp; el siguiente <a href="https://www.aepd.es/agencia/transparencia/registro-actividades-tratamiento/index.html" target="_blank" title="" rel="noopener"> <i>enlace al registro de actividades de la AEPD.</i> </a></p>
            <p><b>Conservación de datos</b></p>
            <p>Los datos personales proporcionados se conservarán durante el tiempo necesario para cumplir con la finalidad para la que se recaban y para determinar las posibles responsabilidades que se pudieran derivar de la finalidad, además de los períodos establecidos en la normativa de archivos y documentación.</p>
            <p><b>Comunicación de datos</b></p>
            <p>Con carácter general no se comunicarán los datos personales a terceros, salvo obligación legal, entre las que pueden estar las comunicaciones al Defensor del Pueblo, Jueces y Tribunales, interesados en los procedimientos relacionados con la reclamaciones presentadas.</p>
            <p>Puede consultar los destinatarios para cada una de las actividades de tratamiento que lleva a cabo la AEPD en el siguiente&nbsp; <a href="https://www.aepd.es/agencia/transparencia/registro-actividades-tratamiento/index.html" target="_blank" title="" rel="noopener">enlace al registro de actividades de la AEPD.</a></p>
            <p><b>Derechos de los interesados</b></p>
            <p>Cualquier persona tiene derecho a obtener confirmación sobre los tratamientos que de sus datos que se llevan a cabo por la AEPD.</p>
            <p>Puede ejercer sus derechos de acceso, rectificación, supresión y portabilidad de sus datos, de limitación y oposición a su tratamiento, así como a no ser objeto de decisiones basadas únicamente en el tratamiento automatizado de sus datos, cuando procedan, ante la Agencia Española de Protección de Datos, C/Jorge Juan, 6, 28001- Madrid o en la dirección de correo electrónico dpd@agpd.es.</p>
        </div>
    </section>

{% endblock %}